*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 0;
    
    background: linear-gradient( #0a2732, #030950);
    background-image:url("bg.jpg");
    display: flex;
    text-shadow: 2px 2px 2px black;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 800px;
}

h1 {
    font-size: 92px;
    color: red;
    text-align: center;
    text-shadow: 2px 2px 12px rgb(196, 217, 40);
}

h2 {text-shadow: 2px 2px 12px rgb(196, 217, 40);
    /* font-size: 24px; */
    text-align: center;
    color: white;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col {
    width: 48%;
}

select,
input {
    border-radius: 15px;
    box-shadow: 2px 2px 2px red;
    width: 100%;
    margin-bottom: 15px;
    font-size: 35px;
    color: yellow;
    background-color: #0000008d;
    padding: 8px 15px;
    font-weight: 700;
}

input {
    width: 100%;
    padding: 10px 15px;
    color: deeppink;
    background-color: #0000008d;
}